<html>
  <head>
    <% include _base.ejs %>
  </head>
  <body>
    <div class="mainBodyBackground">
      <div class="nameCentered">
        <p class="nameText">Nicolas Fleece</p>
        <p class="nameTextSubtext">Full stack web & application developer.</p>
      </div>
    </div>
    <div>

      <div class="row">
        <div class="col-lg-3 offset-lg-1 col-12">
          <img src="../images/main_profile_picture_circle.png" class="img-responsive imgFill"/>
        </div>
        <div class="col-lg-7 col-12 lead d-flex align-items-center largeText">
          Hi! I'm Nick, a 4th year computer science student at uOttawa
          with professional experience both working in web and application
          development environments.
        </div>
      </div>

      <div class="alternateContentBackground">
        <div class="row">
          <div class="col-12 display-3 text-center">
            <p>
              So what have I worked on?
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-8 offset-2 col-centered">
            <img src="../images/kegshoe-logo.svg" class="img-responsive imgFill imageShadow"/>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              Kegshoe <small>September 2018 - Present</small>
            </h4>
            <hr>
            <p>
              Currently, I work for keg-tracking company Kegshoe. We provide keg-tracking software
              to breweries in order to help them keep track of where the kegs are as well as improving
              keg turnover. This app is based in PHP using the slim-3 framework as well as the
              standard webapp HTML/CSS/Javascript frontend and a MySQL database.
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-8 offset-2 col-centered">
            <img src="../images/mccm-logo.png" class="img-responsive imgFill imageShadow"/>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              MC Countermeasures <small>January 2018 - April 2018</small>
            </h4>
            <hr>
            <p>
              I worked for MC Countermeasures on their high-tech IREWTS Electronic Warfare system.
              This was a high-tech piece of software based in C# with a WPF (XAML) frontend
              and an SQLite database. This also involved testing on physical hardware and
              collaborating with Electrical and Mechanical engineers.
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-8 offset-2 col-centered">
            <div class="imageShadow">
              <img src="../images/pspc-logo.png" class="img-responsive imgFill"/>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              Public Services and Procurement Canada <small>May 2017 - August 2017</small>
            </h4>
            <hr>
            <p>
              At PSPC I worked on their buy-and-sell web application as well as designing an
              auction website for an internal charity auction. This was all done through
              the Drupal CMS which was programmed in PHP as well as the standard
              HTML/CSS/JS frontend.
            </p>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
