<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/background.css">
  </head>
  <body>
    <div class="mainBodyBackground">
      <div class="nameCentered">
        <p class="nameText">Nicolas Fleece</p>
        <p class="nameTextSubtext">Full stack web & application developer.</p>
      </div>
    </div>
    <div class="contentBackground">
      <div>
        <img src="../images/main_profile_picture_circle.png" id="profilePicture"/>
      </div>
    </div>
  </body>
</html>
