<html>
  <head>
    <% include _base.ejs %>
    <title>Nicolas Fleece</title>
  </head>
  <body>
    <div class="mainBodyBackground">
      <div class="nameCentered">
        <p class="nameText">Nicolas Fleece</p>
        <p class="nameTextSubtext">Full Stack & Machine Learning Developer.</p>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-8 offset-2 lead d-flex align-items-center largeText">
          Hi! I'm Nick, a Masters in Applied AI student at uOttawa with professional experience working both in web and application development environments.
          Currently, I'm working with Professor Robert Laganière on my thesis in computer vision and deep learning, specifically pose-based intermediate representations for action recognition.
        </div>
      </div>

      <div class="row">
        <div class="col-1 offset-4">
          <a href="https://github.com/NickFleece">
            <img src="images/icons/github.svg" class="linkIcon" width="50" height="50"/>
          </a>
        </div>
        <div class="col-1">
          <a href="https://www.linkedin.com/in/nicolas-fleece-8141ab172/">
            <img src="images/icons/linkedin.svg" class="linkIcon" width="50" height="50"/>
          </a>
        </div>
        <div class="col-1">
          <a href="mailto:nebf97@gmail.com">
            <img src="images/icons/envelope.svg" class="linkIcon" width="50" height="50"/>
          </a>
        </div>
        <div class="col-1">
          <a href="/reports/Resume.pdf">
            <img src="images/icons/file-earmark-person.svg" class="linkIcon" width="50" height="50"/>
          </a>
        </div>
      </div>

      <div class="alternateContentBackground">
        <div class="row">
          <div class="col-12 display-3 text-center">
            <p>
              Professional Experience.
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-6 offset-3 col-centered">
            <div style="padding-bottom:100">
              <img src="../images/kegshoe-logo.svg" class="img-responsive imgFill imageShadow"/>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              Kegshoe <small>September 2018 - Present</small>
            </h4>
            <hr>
            <p>
              Currently, I work for keg-tracking company Kegshoe.
              We provide keg-tracking software to breweries in order to help them keep track of where the kegs are as well as keg turnover.
              This app is based in PHP using the slim-3 framework as well as a standard webapp HTML/CSS/Javascript frontend and a MySQL database.
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-8 offset-2 col-centered">
            <div style="padding-bottom:100">
              <img src="../images/uottawa-logo.png" class="img-responsive imgFill imageShadow"/>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              University of Ottawa <small>September 2020 - Present</small>
            </h4>
            <hr>
            <p>
              In addition to Kegshoe work, I worked as a Teaching Assistant for several University courses listed below.
              This involved helping students in understanding course content, as well as correcting assignments and exams.
              <ul>
                <li>CSI 2110 - Data Structures and Algorithms <small>- Fall 2020, Fall 2021</small></li>
                <li>CSI 4142 - Data Science <small>- Winter 2021, Winter 2022 (current)</small></li>
                <li>CSI 3140 - WWW Structures, Techniques and Standards <small>- Summer 2022</small></li>
              </ul>
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-8 offset-2 col-centered">
            <div style="padding-bottom:100">
              <img src="../images/mccm-logo.png" class="img-responsive imgFill imageShadow"/>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              MC Countermeasures <small>January 2018 - April 2018</small>
            </h4>
            <hr>
            <p>
              I worked for MC Countermeasures on their high-tech IREWTS Electronic Warfare system.
              This was a high-tech piece of software based in C# with a WPF (XAML) frontend and an SQLite database.
              This also involved testing on physical hardware and collaborating with Electrical and Mechanical engineers.
            </p>
          </div>
        </div>

        <div class="row experienceList">
          <div class="col-lg-2 offset-lg-2 col-8 offset-2 col-centered">
            <div style="padding-bottom:100">
              <img src="../images/pspc-logo.png" class="img-responsive imgFill imageShadow"/>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-8 offset-2 col-centered">
            <h4>
              Public Services and Procurement Canada <small>May 2017 - August 2017</small>
            </h4>
            <hr>
            <p>
              At PSPC I worked on their buy-and-sell web application as well as designing an auction website for an internal charity auction.
              This was all done through the Drupal CMS which was programmed in PHP as well as the standard HTML/CSS/JS frontend.
            </p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 text-center">
          <p class="display-3">
            Research Projects
          </p>
          <h5>
            In order of recency.
          </h6>
          
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-6 offset-3 col-centered">
          <h3>
            CATSA Search Validation Action Recognition <small>(WIP)</small>
          </h3>
          <h6>
            PyTorch, TensorFlow
          </h6>
          <hr>
          Validated that various areas of a car were searched by security officers at airport entry
          gates. This was done through a two step process where I first utilized a state-of-the-art
          person detection model (ByteTrack), then passed that information along to a pretrained
          model (Resnet 3D) which was fine-tuned to match the use case of the task.
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-6 offset-3 col-centered">
          <h3>
            Intermediate Representations for Pose-Based Action Recognition <small>(WIP)</small>
          </h3>
          <h6>
            PyTorch, TensorFlow
          </h6>
          <hr>
          Utilized exclusively 2-dimensional pose data in order to classify human actions. This
          was done through a small, novel convolutional network. This work was done in
          conjunction with WRNCH and is being developed as a significant part of my master’s thesis.
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-1 offset-2">
          <a href="/reports/CSI5341_Final_Report.pdf">
            <img src="images/icons/file-earmark-arrow-down.svg" class="linkIcon" style="margin-top: 10px;" width="50" height="50"/>
          </a>
        </div>
        <div class="col-6 col-centered">
          <h3>
            Wide-Range Image Blending on City Skylines
          </h3>
          <h6>
            TensorFlow
          </h6>
          <hr>
          This project was primarily an exercise in transfer learning. Where a state-of-the-art model was taken and used against a different dataset.
          I took a model that had been used on the task of wide-range image blending, which is the task of filling in the missing section between two sections of one image.
          This is done through a state-of-the-art model which I then slightly modify to use on city skylines images which present a different challenge with sharp corners rather than slowly changing features.
          The results showed that the model was able to do it with some success, however artifacting and landscape features were still present.
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-1 offset-2">
          <a href="/reports/CSI5386_Report.pdf">
            <img src="images/icons/file-earmark-arrow-down.svg" class="linkIcon" style="margin-top: 10px;" width="50" height="50"/>
          </a>
        </div>
        <div class="col-6 col-centered">
          <h3>
            Simple Models for Solving VQA
          </h3>
          <h6>
            TensorFlow (Keras)
          </h6>
          <hr>
          Investigating VQA (Visual Question Answering, utilizing both image and text data to
          answer a question), it was found that many models were very complex and difficult to
          interpret, so we proposed two new styles of model. The first was a VAE-style model
          where we concatenated the image and text data. The second was a simple CNN-style
          model where the image and text data were combined and passed through a simple
          CNN. The results were negative, showing that model complexity is often needed for
          these types of issues.
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-1 offset-2">
          <a href="/reports/CSI5130_Report.pdf">
            <img src="images/icons/file-earmark-arrow-down.svg" class="linkIcon" style="margin-top: 10px;" width="50" height="50"/>
          </a>
        </div>
        <div class="col-6 col-centered">
          <h3>
            Energy-GAN’s Using Hopfield Energy Equations
          </h3>
          <h6>
            PyTorch
          </h6>
          <hr>
          Utilized the theory behind Hopfield network energy equations to replace the
          discriminator used in most modern GANs. The results were mixed, with most generators
          resulting in mode collapse; a combined discriminator and energy approach was
          determined to give better results.
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-1 offset-2">
          <a href="/reports/CSI_5155_Final_Report.pdf">
            <img src="images/icons/file-earmark-arrow-down.svg" class="linkIcon" style="margin-top: 10px;" width="50" height="50"/>
          </a>
        </div>
        <div class="col-6 col-centered">
          <h3>
            Diabetes Dataset Exploration & Prediction
          </h3>
          <h6>
            Scikit-Learn
          </h6>
          <hr>
          Used a dataset looking at risks of hospital readmission rates in people who have been
          hospitalized for diabetes to find high risk factors in hospitalized patients. This data was
          then passed through several different models to attempt to determine if a model can
          correctly predict whether someone will be readmitted to the hospital. The results
          showed that most models were able to predict whether someone would be readmitted
          with approximately 70% accuracy. In addition, some unlabelled data was used for
          semi-supervised learning, which led to a slight increase in accuracy.
        </div>
      </div>

      <div class="row experienceList">
        <div class="col-1 offset-2">
          <a href="/CSI4900Report">
            <img src="images/icons/file-earmark-arrow-down.svg" class="linkIcon" style="margin-top: 10px;" width="50" height="50"/>
          </a>
        </div>
        <div class="col-6 col-centered">
          <h3>
            DNS Exfiltration Detection Using Machine Learning
          </h3>
          <h6>
            Scikit-Learn
          </h6>
          <hr>
          Worked with Professor Miguel Garzon at the University of Ottawa in order to detect
          when data is being exfiltrated through the DNS protocol. Utilized machine learning and a
          random forest classifier and achieved an F1-score greater than 99%.
        </div>
      </div>

    <br/>
    <br/>

    </div>
  </body>
</html>
