<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/background.css">
  </head>
  <body class="main_body_background">
    <div class="name_centered name_text">
      <p class="name_text">Nicolas Fleece<p>
    </div>
    <div class="content_background">
      <div>
        asdasdasd
      </div>
    </div>
  </body>
</html>
