html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mainBodyBackground {
  background-image: url("../images/main_background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
}

.nameCentered {
  text-align: center;
  padding-top: 170px;
}

.nameText {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px ;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10;
}

.nameTextSubtext {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

.row {
  margin: 0;
  padding-top: 30;
}

.imgFill {
  width: 100%;
  height: auto;
}

.imgSmall {
  width: 150px;
  height: auto;
}

.verticalCenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.largeText {
  font-size: 30px;
}

.alternateContentBackground {
  background-color: #f2f2f2;
}
