html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mainBodyBackground {
  background-image: url("../images/main_background.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
}

.nameCentered {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nameText {
  color: #FFFFFF;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px ;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10;
}

.nameTextSubtext {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

.row {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.imgFill {
  width: 100%;
  height: auto;
}

.imgSmall {
  width: 150px;
  height: auto;
}

.largeText {
  font-size: 30px;
}

.alternateContentBackground {
  background-color: #f2f2f2;
}

.experienceList {
  padding-top: 100px;
  padding-bottom: 25px;
}

.imageShadow {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding:10px;
}

.linkIcon {
  margin: auto;    
  display: block;
}